<%
let insert_admin;
if(user.admlvl < 6) {insert_admin = ''} else {insert_admin = "<div class=\"row wow fadeIn pl-3 pr-4 pb-4\">\n" +
        "    <div class=\"container-fluid\">\n" +
        "        <div class=\"card bg-dark\">\n" +
        "            <div class=\"card-body\">\n" +
        "                <form onsubmit=\"return false\">\n" +
        "                <label class=\"control-label mb-10\" id=\"admin_error\" style=\"color: #dd163b\"></label>\n" +
        "                <div class=\"form-group\">\n" +
        "                    <label class=\"control-label mb-10\">NickName</label>\n" +
        "                    <div class=\"input-group\">\n" +
        "                        <input type=\"text\" class=\"form-control\" id=\"NickName_Admin\" placeholder=\"NickName\">\n" +
        "                    </div>\n" +
        "                </div>\n" +
        "                <div class=\"form-group\">\n" +
        "                    <label class=\"control-label mb-10\">Уровень администратора</label>\n" +
        "                    <div class=\"input-group\">\n" +
        "                        <input class=\"form-control\" id=\"AdmLvl\" placeholder=\"Уровень администратора\">\n" +
        "                    </div>\n" +
        "                </div>\n" +
        "                <button type=\"submit\" id=\"btnInsertAdmin\" class=\"btn btn-success mr-10\">Добавить</button>\n" +
        "                </form>\n" +
        "            </div>\n" +
        "        </div>\n" +
        "    </div>\n" +
        "    </div>"}
 
%>
<main class="pt-5 max-lg-5">
    <%- include('header.ejs')%>
    <%-insert_admin%>
    <div class="row wow fadeIn pl-3 pr-4">
        <div class="container-fluid">
            <div class="card bg-dark">
                <div class="card-body">
                    <table class="leaders-table">
                        <thead>
                        <tr style="background-color: #dd163b;">
                            <th colspan="7">Cписок Администрации</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th>Ник</th>
                            <th>Уровень</th>
                            <th>Телефон</th>
                            <th>Деньги</th>
                            <th>В Банке</th>
                            <th>Действие</th>
                        </tr>
                        <%admins.forEach(function (item) { %>
                            <form action="/account/admin/admins/stats/<%=item.name%>" method="post">
                                <input type="hidden" value="<%=item.name%>">
                                <tr>
                                    <td><%=item.name%></td>
                                    <td><%=item.admlvl%></td>
                                    <td><%=item.number%></td>
                                    <td><%=item.money%></td>
                                    <td><%=item.bank%></td>
                                    <td><button  type="submit" style="background: none;border:none; color: #4d7198">Информация</button></td>
                                </tr>
                            </form>
                        <% })%>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
<script>

    $('#btnInsertAdmin').click(function(){
        let admin = $('#NickName_Admin').val();
        let lvl = $('#AdmLvl').val();
        $.ajax({
            url: '/account/admin/admins/insert_admin',
            type: 'POST',
            headers: {
                "content-type": "application/json",
                "dataType": "json"
            },
            data: JSON.stringify({
                "admin": admin,
                "lvl" : lvl,
            }),
            cache: false,
            success: function(data){
                $("#admin_error").text(data)
            }

        });
    });

</script>